services:
  database:
    image: postgres:latest
    env_file:
      - ./backend/.env
    volumes:
      - ./data:/var/lib/postgresql
      - ./dataBase.sql:/docker-entrypoint-initdb.d/dataBase.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 2s
      retries: 5

  backend:
    build: backend
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"

  proxy:
    build:
      context: .
      dockerfile: ./frontend/proxy-nginx/Dockerfile
    ports:
      - 80:80
    depends_on:
      - backend
